---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="favicon.png" />
		<meta name="generator" content={Astro.generator} />
        <meta property="og:title" content="代数学ワークショップ" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://home.hiroshima-u.ac.jp/nyoho/kimura60/images/ogimage.png" />
        <meta property="og:url" content="https://home.hiroshima-u.ac.jp/nyoho/kimura60/" />
        <meta property="og:site_name" content="代数学ワークショップ" />
        <meta property="og:description" content="代数学ワークショップ 2023年3月17日-18日 於 広島大学" />
		<title>{title}</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R60VCK2P99"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-R60VCK2P99');
        </script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
 :root {
	 --accent: 229, 28, 37;
	 --main: 59, 142, 150;
	 --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
 }
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
 body {
     margin: 0;
     padding: 0;
 }
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
